<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Practice Suite">
    <listeners>
        <listener class-name="utils.listeners.ExtentReporterNG"/>
        <listener class-name="utils.listeners.TestListener"/>
        <listener class-name="utils.listeners.RetryListener"/>
    </listeners>
    <test name="Test Basics 1" parallel = "methods" thread-count="2">
        <parameter name="browser" value="chrome"></parameter>
        <classes>
            <class name="TestEmployee"/>
            <class name="MyTestDataProvider"/>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->